<div class="all_deals">
  <h2>My Coupons</h2>

  <table class="table table-striped">
    <tr>
      <th>Deal</th>
      <th>Expires On</th>
      <th>Redeemed</th>
      <th></th>
    </tr>

  <% @coupons.each do |coupon| %>
    <tr>
      <td><%= coupon.deal.coupon_text %></td>
      <td><%= coupon.deal.end_date.strftime('%D') %></td>
      <td><%= print_redeemed(coupon.redeemed) %></td>
      <td><%= link_to 'View', coupon.deal %></td>
    </tr>
  <% end %>

  </table>
</div>