<div class="background_container">

<h1>Help Your Fans Spread the Word</h1>

<% if current_authorized_user %>
	@<%= current_authorized_user.username %> | <%= link_to 'Sign Out', signout_url, method: :delete %>
<% else %>
	<%= link_to 'Sign in with Twitter', '/auth/twitter', class: 'signin_btn' %>
<% end %>

</div>

<script>
  $.backstretch("<%= image_path 'bg_shoe_store.jpg' %>");
</script>