<h1 class="logo">Pot of Gold</h1>
<p>Claim your gold</p>
<%= image_tag 'gold.png' %>

<% if current_authorized_user %>
  <p>@<%= current_authorized_user.username %> | <%= link_to 'Sign Out', signout_url, method: :delete %></p>
<% else %>
  <p><%= link_to 'Sign in with Twitter', '/auth/twitter' %></p>
<% end %>