<br/>
<br/>
<br/>
<h1>Pot of Gold</h1>
<%= image_tag 'gold.png' %>
<p>Claim your gold</p>

<div class="details_container">
  <p style="border-bottom: 1px solid black;">@launchpadlab</p>
  <p>#potofgold</p>
</div>