<div class="deal_container">
	<div class="deal_inner">
		<h1>Intelligentsia Coffee</h1>
		<h2>Free 1oz Coffee</h2>
		<p>Intelligentsia is the most excellent coffee shop in the world. Just share this deal with your friends and you'll get a free 1oz coffee on your next visit to one of our super-cool shops. Your 1oz coffee features individually picked beans from around the world. Each cup contains 2 beans from Africa, 4 beans from Brazil, and 2 Folgers beans to mellow out the taste. You'll see why people pay $40 for our coffee.</p>
		<%= link_to 'Tweet to get this Deal', '/auth/twitter', class: 'tweet_btn' %>
	</div>
</div>


<script>
  $.backstretch("<%= image_path 'bg_coffee_shop.jpeg' %>");
</script>