<h1>Editing deal</h1>

<%= render 'form' %>

<%= link_to 'Show', @deal %> |
<%= link_to 'cancel', deals_path %>

<%= link_to 'Delete this deal', deal, method: :delete, data: { confirm: 'Are you sure you want to delete this deal?' } %>
