<div class="background_image_form_container hide">
  <p>Want to change this background image? Click <%= link_to 'here', '', id: 'background_image_link' %></p>
</div>

<div class="deal_container">
  <div class="background_image_selection">
     <h3 id="myModalLabel">Let's start a new deal</h3>
    <%= render 'background' %>
  </div>
</div>

<script>

  $(function(){

    $('#background_image_link').click(function(){
      $('.deal_details_container').slideUp();
      $('.background_image_form_container').slideUp();
      $('.background_image_selection').delay(500).show();
      return false;
    });

    $("#deal_end_date").datepicker({ dateFormat: 'yy-mm-dd', constrainInput: true, minDate: new Date() });

    $('.preview').click(function(){
        $('.backstretch').remove();
        var url = $(this).parent().parent().children(':first-child').attr('src');
        $.backstretch(url);
        return false;
    });

    $('.select').click(function(){
      $('.backstretch').remove();
      var url = $(this).parent().parent().children(':first-child').attr('src');
      var image_id = $(this).parent().parent().children(':first-child').attr('id').toString().match(/\d+/)[0];
      $.backstretch(url);
      $('.background_image_selection').slideUp();
      $('.deal_details_container').delay(500).show();
      $('.background_image_form_container').slideDown();
      $('#deal_image_id').val(image_id);
      return false;
    });

    $('#new_deal').submit(function(){
      $.ajax({ type: 'POST', url: '<%= j(deals_url) %>',
          data: { deal: { coupon_text: $('#deal_coupon_text').val(),
                  description: $('#deal_description').val(),
                  end_date: $('#deal_end_date').val(),
                  sample_tweet: $('#deal_sample_tweet').val(),
                  image_id: $('#deal_image_id').val() }
                },
          success: function(data){
            var val = $('#tweet').val();
            $('#tweet').val(val + data['id']);
            $('.deal_details').slideUp();
            $('.deal_starter_tweet').slideDown();
            $('#tweet').focus();
          },
          error: function(data){
            alert('Something went wrong!');
          },
      dataType: 'json'});
      return false;
    });

    function updateCountdown() {
      // 140 is the max message length
      var remaining = 140 - $('#tweet').val().length;
      if (remaining <= 10){
        $('.countdown_tweet').css('color', 'red');
      }
      else {
        $('.countdown_tweet').css('color', 'white');
      }
      if (remaining < 0){
        $('#tweet_button').attr('disabled', true);
      }
      else {
        $('#tweet_button').attr('disabled', false);
      }
      $('.countdown_tweet').text(remaining);
    }
    
    function updateCountdownSample() {
      // 120 is the max message length
      var remaining = 120 - $('#deal_sample_tweet').val().length;
      if (remaining <= 10){
        $('.countdown_deal_sample_tweet').css('color', 'red');
      }
      else {
        $('.countdown_deal_sample_tweet').css('color', 'white');
      }
      if (remaining < 0){
        $('#start_deal').attr('disabled', true);
      }
      else {
        $('#start_deal').attr('disabled', false);
      }
      $('.countdown_deal_sample_tweet').text(remaining);
    }

    updateCountdown();
    updateCountdownSample();
    $('#tweet').change(updateCountdown);
    $('#tweet').keyup(updateCountdown);
    $('#deal_sample_tweet').change(updateCountdownSample);
    $('#deal_sample_tweet').keyup(updateCountdownSample);

  });

</script>