.new
	background-color: rgba(192,192,192, 0.5)

.well
	position: relative

.banner
	position: absolute
	top: 0
	left: 15px
	background: #006ECC
	padding: 20px
	-moz-border-radius: 0 0 10px 10px
	-webkit-border-radius: 0 0 10px 10px
	border-radius: 0 0 10px 10px
	-khtml-border-radius: 0 0 10px 10px
	z-index: 5

.logo_show
	font-size: 50px

.percentage
	font-size: 75px
	line-height: 100px

.followers
	font-size: 36px

/////////////////////////////

// Deal Show

.deal_container
	width: 680px
	min-height: 400px
	margin: 120px auto auto
	text-align: center
	background-color: rgba(0, 0, 0, 0.75)
	padding: 10px
	.deal_inner
		padding: 40px 40px 60px
	h2
		color: #f05e1b
		font-weight: 400
		font-style: italic
	h3
		color: #fff
		margin-bottom: 30px
		font-size: 1.625em  /* 26px/16px */
	p
		color: #fff
		text-align: left
		font-size: 1.375em  /* 22px/16px */
		font-weight: 300

.tweet_btn
	padding: 10px 100px
	line-height: 1em
	font-size: 22px
	color: #f05e1b
	background-color: #fff
	display: block
	@include border-radius(6px)
	&:hover
		background-color: #eee
		text-decoration: none

.countdown
	padding: 0 30px

// Deal Index

.bar
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F05E1B), to(#F05E1B)) !important
	color: black !important

.all_deals
	color: #444
	font-family: helvetica
	padding: 20px 0
	margin: 20px 0
	a
		color: #F05E1B
	a.btn
		color: #fff
		background-color: #777

.deal_stats
	color: #444
	font-family: helvetica
	padding: 20px 0
	margin: 20px 0
	a
		color: #F05E1B


// Deal New

.modal-body
	background-color: #444

.images_to_select
	width: 100%
	overflow: auto
	li
		padding: 10px
		display: inline-block
		margin: 5px auto
		width: 125px
		height: 125px
		img
			padding: 5px
			background-color: white
			border: solid 1px #CCC
			-moz-box-shadow: 1px 1px 5px #999
			-webkit-box-shadow: 1px 1px 5px #999
			box-shadow: 1px 1px 5px #999
			max-width: 100px
			max-height: 100px
			margin-bottom: 10px
		p
			text-align: center
			color: black !important
			font-size: 16px

.offer_text
	font-family: adelle, sans-serif
	background-color: #222
	background-color: rgba(0, 0, 0, 0.16)
	color: #f05e1b
	font-weight: 400
	text-align: center
	padding: 10px
	margin: 30px 0

.offer
	input[type="text"]
		color: #f05e1b
		font-size: 1.5em

.deals
	input[type="text"]
		height: 40px
		width: 550px
		line-height: 40px
.offer_text::-webkit-input-placeholder
	color: #f05e1b !important
.offer_text:-moz-placeholder
	color: #f05e1b !important

.deal_description
	border: none
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06)
	text-align: left
	font-size: 1.375em
	font-weight: 300
	padding: 10px
	display: inline-block
	margin: 10px 0
	color: white
	width: 550px
.deal_description::-webkit-input-placeholder
	color: white !important
.deal_description:-moz-placeholder
	color: white !important

.deal_end_date
	color: white
	text-align: left
.deal_end_date::-webkit-input-placeholder
	color: white !important
.deal_end_date:-moz-placeholder
	color: white !important

.date
	input[type="text"]
		color: #fff
		font-weight: 300
		font-size: 1.375em

#file
	color: white
	line-height: 16px

.new_deal
	.field
		text-align: left
		margin: 10px 0
		border: none
		color: white
	input[type="text"]
		background-color: #222
		background-color: rgba(0, 0, 0, 0.65)
		border: none
	textarea
		background-color: #222
		background-color: rgba(0, 0, 0, 0.65)
		border: none
	textarea:focus, input[type="text"]:focus
		background-color: #111
		background: rgba(0, 0, 0, 0.85)
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(225, 225, 225, 0.85)

input, button, select, textarea
	font-family: "freight-sans-pro", sans-serif

input[type="submit"]
	padding: 21px 30px
	line-height: 1em
	font-size: 22px
	color: #fff
	background-color: #f05e1b
	border: none
	@include border-radius(6px)
	&:hover
		background-color: #cb5017
		text-decoration: none

// Deal Edit
.background_image_form_container
	width: 640px
	margin: 50px auto 0 auto
	text-align: center
	padding: 20px
	background-color: rgba(0, 0, 0, 0.75)
	p
		color: #fff
		text-align: center
		font-size: 1.375em  /* 22px/16px */
		font-weight: 300
