.well
	position: relative

.banner
	position: absolute
	top: 0
	left: 15px
	background: #006ECC
	padding: 20px
	-moz-border-radius: 0 0 10px 10px
	-webkit-border-radius: 0 0 10px 10px
	border-radius: 0 0 10px 10px
	-khtml-border-radius: 0 0 10px 10px
	z-index: 5

.logo_show
	font-size: 50px

.percentage
	font-size: 75px
	line-height: 100px

.followers
	font-size: 36px

/////////////////////////////

// Deal Show

.deal_container
	width: 680px
	min-height: 400px
	margin: 120px auto auto
	text-align: center
	background-color: rgba(0, 0, 0, 0.75)
	.deal_inner
		padding: 40px 40px 60px
	h2
		color: #f05e1b
		font-weight: 400
		font-style: italic
	h3
		color: #fff
		margin-bottom: 30px
		font-size: 1.625em  /* 26px/16px */
	p
		color: #fff
		text-align: left
		font-size: 1.375em  /* 22px/16px */
		font-weight: 300

.tweet_btn
	padding: 10px 100px
	line-height: 1em
	font-size: 22px
	color: #f05e1b
	background-color: #fff
	display: block
	@include border-radius(6px)
	&:hover
		background-color: #eee
		text-decoration: none

.countdown
	padding: 0 30px

.best_in_place
	background-color: white
	border: 1px solid #CCC
	font-size: 14px
	line-height: 20px

// Deal Index

.all_deals
	width: 680px
	margin: 120px auto auto
	text-align: center
	background-color: rgba(0, 0, 0, 0.75)
	th
		color: white
	td
		color: white

.offer_text
	color: #f05e1b !important
	background-color: transparent !important
	border: none !important
	font-weight: 400
	font-style: italic !important
	text-align: center
	font-size: 1.5em !important
	padding: 5px 20px
	display: inline-block
	margin: 30px 0 10px 0
	height: 40px !important
	width: 550px !important
	font: normal 100% "freight-sans-pro", sans-serif
.offer_text::-webkit-input-placeholder
	color: #f05e1b !important
.offer_text:-moz-placeholder
	color: #f05e1b !important

.deal_description
	background-color: transparent !important
	border: none !important
	text-align: left
	font-size: 1.375em
	font-weight: 300
	padding: 5px 20px
	display: inline-block
	margin: 10px 0
	color: white
	width: 550px
.deal_description::-webkit-input-placeholder
	color: white !important
.deal_description:-moz-placeholder
	color: white !important

.deal_end_date
	background-color: transparent !important
	border: none !important
	color: white
	text-align: center
	font: normal 100% "freight-sans-pro", sans-serif
.deal_end_date::-webkit-input-placeholder
	color: white !important
.deal_end_date:-moz-placeholder
	color: white !important

#file
	color: white
