//Global

body
	font: normal 100% 'freight-sans-pro', sans-serif
	background-color: #fff
	color: #fff

a
	text-decoration: none
	color: #fff

h1, h2, h3, h4
	margin: 0

h1
	font-size: 3.4em
	line-height: 1em
	font-weight: 300

header
	width: 100%
	margin: 0 auto
	h1
		color: #fff
		font-size: 3.9em  /* 64px/16px */
		font-weight: 300
		display: block

.container
	width: 960px
	margin: 0 auto
	padding: 0 10px

//Navigation

.navigation
	color: #fff
	height: 40px
	background-color: #000
	background-color: rgba(0, 0, 0, 0.75)
	.twitter_handle
		color: #888
	.logo
		float: left
		line-height: 40px
		padding: 0 5px
		@include transition (all 0.5s ease-in-out)
		&:hover
			background-color: rgba(240, 94, 27, 0.75)
			text-decoration: none
	ul
		float: right
		list-style-type: none
		margin: 0
		padding: 0
		line-height: 40px
		li
			margin-left: 20px
			list-style-type: none
			float: left
			line-height: 40px
		li a:hover
			color: #f05e1b
			text-decoration: none



//Home Page

body.home
	text-align: center
	h1
		margin: 3.5em 0 1.0em
		text-transform: uppercase

	a.signin_btn
		padding: 21px 30px
		line-height: 1em
		font-size: 22px
		color: #f05e1b
		background-color: #fff
		@include border-radius(6px)
		&:hover
			background-color: #eee
			text-decoration: none
.background_container
	margin-top: 20px
	p.sign_in
		background-color: rgba(0, 0, 0, 0.75)
		padding: 10px
		@include border-radius(0 0 6px 6px)
		position: fixed
		top: 0
		right: 200px
		@include transition (all 1.0s ease-in-out)
		&:hover
			background-color: rgba(240, 94, 27, 0.75)	
	img
		background-color: rgba(0, 0, 0, 0.75)
		padding: 10px
		@include border-radius(0 0 6px 6px)
		position: fixed
		top: 0
		@include transition (all 1.0s ease-in-out)
		&:hover
			background-color: rgba(240, 94, 27, 0.75)
