body {
	font-family: 'Gafata', sans-serif;
	font-size: 18px;
	text-align: center;
}
.logo {
	font-family: 'UnifrakturCook', cursive;
	font-size: 100px;
	line-height: 150px;
	text-shadow: 2px 2px #000;
}
img {
	max-width: 500px;
	padding: 50px;
}