/* Large desktop */
@media (min-width: 1200px)

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)

/* Landscape phone to portrait tablet */
@media (max-width: 767px)

/* Landscape phones and down */
@media (max-width: 480px)
	h1
		font-size: 2.625em  /* 42px/16px */
	body.home
		h1
			margin: 40px 0

	.deal_container
		width: 96%
		margin: 20px auto auto
		.deal_inner
			padding: 20px
		.tweet_btn
			padding: 10px 20px
