/* Large desktop */
@media (min-width: 1200px)

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)

/* Landscape phone to portrait tablet */
@media (max-width: 767px)

/* Landscape phones and down */
@media (max-width: 480px)
	.container
		width: 90%

	h1
		font-size: 36px

	body.home
		h1
			font-size: 36px
			margin: 40px 0 0
		h2
			font-size: 16px

	.background_container
		a.sign_in
			font-size: 12px

	.deal_container
		width: 96%
		margin: 10px auto auto
		.deal_inner
			padding: 10px
		.tweet_btn
			padding: 10px 20px
		textarea
			width: 360px
			height: 155px
		input[type="text"]
			width: 360px

	input[type="submit"]
		padding: 16px 30px
		line-height: 1em
		font-size: 18px
		color: #fff
		background-color: #f05e1b
		border: none
		border-radius: 6px
		&:hover
			background-color: #cb5017
			text-decoration: none
